services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5440:5432"
    environment:
      POSTGRES_DB: social
      POSTGRES_USER: social
      POSTGRES_PASSWORD: social
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U social"]
      interval: 5s
      timeout: 3s
      retries: 5

  redis:
    image: redis:7-alpine
    ports:
      - "6387:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  pgdata:
